@tailwind base;

@tailwind components;

@tailwind utilities;

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.el-popover {
    @apply select-none;
}
